<footer class="footer">
  <small class="container text-center">    
    <p>Gerenciador de projeto em Ruby on Rails</p>
    <nav>
    by <a href="https://www.linkedin.com/in/nayanalm/">Nayana Loivos</a>
    </nav>
  </small>  
</footer>